<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.slt.devops.techcareservice">

    <!-- Permissions -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.TechCareService">

        <!-- Launcher / Splash -->
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Authentication -->
        <activity
            android:name=".LoginActivity"
            android:exported="false" />

        <activity
            android:name=".RegisterActivity"
            android:exported="false" />

        <!-- User Side -->
        <activity
            android:name=".HomeActivity"
            android:exported="false" />

        <activity
            android:name=".ServiceListActivity"
            android:exported="false" />

        <activity
            android:name=".CreateBookingActivity"
            android:exported="false" />

        <activity
            android:name=".RequestActivity"
            android:exported="false" />

        <activity
            android:name=".BookingsActivity"
            android:exported="false" />

        <activity
            android:name=".BookingStatusActivity"
            android:exported="false" />

        <activity
            android:name=".ProfileActivity"
            android:exported="false" />

        <activity
            android:name=".SupportActivity"
            android:exported="false" />

        <!-- Admin Side -->
        <activity
            android:name=".AdminHomeActivity"
            android:exported="false" />

        <activity
            android:name=".AdminBookingActivity"
            android:exported="false" />

        <activity
            android:name=".AdminUsersActivity"
            android:exported="false" />

    </application>

</manifest>
